---
import Layout from '../layouts/Layout.astro';
import ChatInterface from '../components/ChatInterface';
---

<Layout title="SPCS Chat">
	<div class="flex-grow flex items-stretch overflow-hidden">
		<ChatInterface client:load />
	</div>
</Layout>
